<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdxxtop.guardianapp">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.RecordLogActivity"></activity>
        <activity android:name=".ui.activity.GridEventActivity" />
        <activity
            android:name=".ui.activity.VideoPlay2Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity android:name=".ui.activity.EventDetailActivity" />
        <activity
            android:name=".ui.activity.FlyEventDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.FlyDataListActivity" />
        <activity android:name=".ui.activity.FlyEventReportActivity" />
        <activity android:name=".ui.activity.NotificationActivity" />
        <activity android:name=".ui.activity.ImageCourseActivity" />
        <activity android:name=".ui.activity.EventMoveActivity" />
        <activity android:name=".ui.activity.SectionEventActivity" />
        <activity
            android:name=".ui.activity.DeviceWarnDetailActivity"
            android:theme="@style/AppNormalTheme" />
        <activity android:name=".ui.activity.DeviceCenterMsgActivity" />
        <activity android:name=".ui.activity.DeviceListActivity" />
        <activity android:name=".ui.activity.DeviceDataDetailActivity" />
        <activity
            android:name=".ui.activity.MonitorMapActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.activity.CenterMessage2Activity" />
        <activity android:name=".ui.activity.CenterMessageActivity" />
        <activity android:name=".ui.activity.ReCheckActivity" />
        <activity android:name=".ui.activity.PatrolAddDetailActivity" />
        <activity android:name=".ui.activity.EventDiscretionReportActivity" />
        <activity android:name=".ui.activity.EventDiscretionListActivity" />
        <activity android:name=".ui.activity.GridreportUserreportActivity" />
        <activity android:name=".ui.activity.GrantGridReportActivity" />
        <activity android:name=".ui.activity.GACPatrolDetailActivity" />
        <activity android:name=".ui.activity.PartEventListActivity" />
        <activity android:name=".ui.activity.SafeStaffDetail2Activity" />
        <activity android:name=".ui.activity.SafeStaffDetailActivity" />
        <activity android:name=".ui.activity.GACEventDetailActivity" />
        <activity android:name=".ui.activity.PatrolPathActivity" />
        <activity android:name=".ui.activity.GrantCompanyReportActivity" />
        <activity android:name=".ui.activity.EventStatistyActivity" />
        <activity android:name=".ui.activity.GrantEventReportActivity" />
        <activity android:name=".ui.activity.EventReportDetailActivity_new" />
        <activity android:name=".ui.widget.imgservice.EventOnlineActivity" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppNormalTheme" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/NormalSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppNormalTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- <action android:name="android.intent.action.VIEW"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.activity.EventReportActivity" />
        <activity android:name=".ui.activity.TaskAgentsActivity" /> <!-- 猎鹰轨迹的启动服务 -->
        <activity android:name=".ui.activity.ContactActivity" />
        <activity android:name=".alipush.PushCenterActivity" />
        <activity
            android:name=".ui.activity.PatrolRecordActivity"
            android:theme="@style/AppNormalTheme" />
        <activity
            android:name=".ui.activity.GridMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNormalTheme" />
        <activity android:name=".ui.activity.ExamineActivity" />
        <activity
            android:name=".ui.activity.LoginConfirmActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.MyFaceLivenessActivity" />
        <activity android:name=".ui.activity.StatisticsAnalyzeActivity" />
        <activity android:name=".ui.activity.ImpeachReportActivity" />
        <activity android:name=".ui.activity.IntelligentSensorActivity" />
        <activity android:name=".ui.activity.EnvironmentalTestActivity" />
        <activity
            android:name=".ui.activity.AmapPoiActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.EventReportListActivity" />
        <activity
            android:name=".ui.activity.EventReportDetailActivity"
            android:theme="@style/AppNormalTheme" />
        <activity android:name=".ui.activity.EventReportDetailSecondActivity" />
        <activity android:name=".ui.activity.ContactSearchActivity" />
        <activity android:name=".ui.activity.SystemSettingActivity" />
        <activity
            android:name=".ui.activity.PhotoViewActivity"
            android:theme="@style/full_screen_splash" />
        <activity
            android:name="com.alibaba.sdk.android.push.keeplive.PushExtActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:process=":channel"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name=".ui.activity.NewsDetailsActivity" />
        <activity
            android:name=".ui.widget.imgservice.OnlineServiceActivity"
            android:theme="@style/AppNormalBlueTheme" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="81974efe8098da9206a13898e4dc47a4" />
        <meta-data
            android:name="max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="754" />
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="27562646" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="95e2d08511e79f602eb7f11c4255f14c" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 请填写你自己的- appKey -->
        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver> <!-- 请填写你自己的appSecret -->
        <!-- Push SDK 相关组件，required -->
        <!-- 消息接收服务 -->
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.alibaba.sdk.android.push.SystemEventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".alipush.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service android:name="com.amap.api.location.APSService" />
        <service android:name="com.amap.api.track.AMapTrackService" />
        <service android:name=".service.PatrolRecordService" />
        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <service
            android:name="com.alibaba.sdk.android.push.MsgService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.NOTIFY_ACTION" />
            </intent-filter>
        </service>
        <service
            android:name="com.alibaba.sdk.android.push.channel.CheckService"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.CHECK_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
        </service> <!-- V3.0.12及以上版本需配置 -->
        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:exported="false"
            android:process=":channel" /> <!-- V3.0.7及以上版本需配置 -->
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service> <!-- V3.0.9及以上版本需配置 -->
        <service
            android:name="com.alibaba.sdk.android.push.AliyunPushIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service> <!-- 消息接收监听器 （用户可自主扩展） -->
        <service
            android:name="com.alibaba.sdk.android.push.channel.TaobaoRecvService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />
        <service
            android:name="com.alibaba.sdk.android.push.channel.KeepChannelService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />
        <service
            android:name="com.sdxxtop.webview.romoteservice.OptimizationService"
            android:process=":remotewebview" />
        <service
            android:name=".service.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 适配下载应用，安装apk的时候 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.camera.autofocus" /> <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

</manifest>