<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sdxxtop.guardianapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.sdxxtop.guardianapp.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="1985905fa798941ad45e429a5bbd97e0"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity android:name="com.sdxxtop.guardianapp.ui.activity.HomeActivity"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation|screenSize">

        </activity>
        <activity
            android:name="com.sdxxtop.guardianapp.ui.activity.SplashActivity"
            android:theme="@style/NormalSplash">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--<action android:name="android.intent.action.VIEW" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.sdxxtop.guardianapp.ui.activity.LoginActivity"
            android:theme="@style/AppNormalTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.EventReportActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.TaskAgentsActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.ContactActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.PatrolRecordActivity"/>
        <activity
            android:name="com.sdxxtop.guardianapp.ui.activity.GridMapActivity"
            android:theme="@style/AppNormalTheme"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.ExamineActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.NewsDetailsActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.LoginConfirmActivity"/>
        <activity
            android:name="com.sdxxtop.guardianapp.ui.activity.VideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppHalfTranslateTheme"/>

        <activity android:name=".ui.activity.MyFaceLivenessActivity" />

        <activity android:name="com.sdxxtop.guardianapp.ui.activity.StatisticsAnalyzeActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.ImpeachReportActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.IntelligentSensorActivity"/>
        <activity android:name="com.sdxxtop.guardianapp.ui.activity.EnvironmentalTestActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="724"/>

    </application>

</manifest>